<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>THE BUTTON!!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type ="text/javascript">
		$(document).ready(function (){
			// this triggers the connection event in our server!
			var socket = io.connect();
			//on page load...
			socket.emit("page_loaded");
			
			$("#button").click(function(){
				socket.emit("button_pressed")
			})
			$("#reset").click(function(){
				socket.emit("reset_pressed")
			})

			socket.on('updated_counter', function(counter){
				console.log(counter) 
				document.getElementById("display").innerHTML = `Current count: ${counter}`
			});
		})
</script>
</head>
<body>
	<p id="display"></p>
	<button id="button">Click This Button</button>
	<button id="reset">Reset</button>
</body>
</html>